version: '3'
services:
  webapp:
    build: 
      context: ./
      dockerfile: ./webapp/Dockerfile
    ports:
      - "5001:5000"
    volumes:
      - ./data:/app/data  # This maps the local 'data' directory to '/app/data' inside the container

  mysql:
    image: mysql:latest
    env_file:
      - .env
    environment:
      TZ: America/Los_Angeles
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/combined_init.sql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
    ports:
      - "8080:80"

volumes:
  mysql_data: